@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&family=Mukta:wght@400;500;600&family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'SF Mono';
    src:
        url('/assets/fonts/SF-Mono-Light.ttf') format('ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

$color_1: #0D1426;
$color_2: #FCFCFC;
$color_3: #0d1426;
$color_4: #0b1e63;
$color_5: #052599;
$color_6: #0E2169;
$color_7: #0B1E63;
$color_8: #0D1426B8;
$color_9: rgba(14, 33, 105, 0.24);
$font-family_1: "Mukta", sans-serif;
$font-family_2: "Alegreya", serif;
$font-family_3: 'SF Mono';
$background-color_1: #f5f6f6;
$background-color_2: #FAFAFA;
$background-color_3: #244DE1;
$background-color_4: transparent;
$background-color_5: #FFFFFF;
$background-color_6: #f6f6f6;
$background-color_7: #244DE10A;
$background-color_8: #0E21690A;
$background-color_9: #0E216914;
$background-color_10: #0E2169;
$background-color_11: rgba(14, 33, 105, 0.04);
$background-color_12: #0E216905;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;

    &::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        outline: none;
    }

    &::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        outline: none;
    }
}

body {
    min-height: 100vh;
    background-color: $background-color_1;
    font-family: $font-family_1;
}

.main_wrapper {
    display: flex;
    max-width: 100vw;
}

.main_content_wrapper {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color_1;
    margin-top: 3em;
    padding: 2em 2em;
}

.main_content {
    width: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding: 1em 4em;
    flex-direction: column;

    >.wrap_headers {
        width: 100%;
        display: flex;
        margin-bottom: 3rem;
        justify-content: space-between;

        >span {
            color: $color_1;
            opacity: 56%;
            font-family: $font-family_1;
            font-size: 16px;
            font-weight: bold;
        }
    }

    >.wrap_lists {
        width: 100%;

        >.wrap_h6 {
            >h6 {
                color: $color_1;
                opacity: 56%;
                font-size: .8rem;
                font-family: $font-family_1;
                font-weight: 500;
                text-transform: uppercase;
                margin-right: 9.5rem;
                margin-left: 1rem;
                white-space: nowrap;

            }

            .invisible {
                visibility: hidden;
            }

            display: flex;
            justify-content: space-between;
            // width: 1117px
        }
    }

    >.wrap_main_lists {
        display: flex;
        max-width: 70%;
        text-align: left;
    }
}



.wrap_main_lists {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    background-color: $background-color_2;
    border-radius: 4px;
    padding: 1rem;
    margin-top: 1rem;

    .wrap_dates {
        padding: 1em;
        text-align: left;
        width: 10%;

        h5 {
            width: 100%;
            white-space: nowrap;
            font-size: 18px;
            font-weight: 500;
            color: $color_1;
            font-family: $font-family_1;
        }
    }

    >.wrap_button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;

        >.feather-more-vertical {
            stroke-width: 1;
            margin-left: 1rem;
            stroke: #0D1426;
        }

        >.payroll_btn {
            all: unset;
            padding: 14px;
            width: 152px;
            font-size: 16px;
            font-family: $font-family_1;
            color: $color_2;
            background-color: $background-color_3;
            border-radius: 44px;
        }
    }

    >.wrap_pay_cycle {
        // text-align: left;

        >.date {
            font-size: 18px;
            font-weight: 500;
            color: $color_1;
            font-family: $font-family_1;
        }

        >span {
            font-family: $font-family_2;
            font-size: 16px;
            opacity: 56%;
        }
    }
}


.navbar {
    border-bottom: 1px solid rgba(14, 33, 105, 0.08);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    max-width: 100%;
    background-color: $background-color_1;

    >.nav_right {
        position: relative;
    }
}

.nav_right {
    display: flex;
    justify-content: center;
    align-items: center;

    >.wrapper {
        max-width: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background-color_4;

        .wrap_bell {
            padding: .5em;
            border-radius: 50%;
            transition: background-color 200ms linear;
            display: grid;
            place-items: center;
            position: relative;
            cursor: pointer;

            &::before {
                content: attr(data-totalnotifs);
                position: absolute;
                top: 2px;
                right: 5px;
                background-color: #0B1E63;
                color: #FFFFFF;
                font-size: 12px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover {
                background-color: #FFFFFF;
            }
        }


    }

    .wrapper {
        .search-input {
            border-radius: 8px;
            margin-right: 1em;
            width: 100%;
            position: relative;
        }
    }

    >.nav_accout {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}

.search-input {
    input {
        height: 55px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        outline: none;
        border: none;
        border-radius: 8px;
        padding: 0 .9rem 0 2rem;
        font-size: 1rem;
        font-family: $font-family_2;
        color: $color_3;
        font-weight: 500;
        background-color: $background-color_4;

        &:focus {
            background-color: $background-color_5;
        }

        &::placeholder {
            font-family: $font-family_3;
            font-size: 1rem;
            font-weight: 400;
            color: $color_1;
        }
    }

    >.feather.feather-x {
        stroke: black;
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        left: 85%;
        opacity: 0;
    }

    >input[type="search"] {
        &:focus+.feather.feather-x {
            opacity: 1;
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 1.5em;
            width: 1.5em;
            position: absolute;
            right: 1px;
            display: none;
        }
    }

    .autocom-box {
        padding: 0;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        max-height: 280px;
        border-radius: 0 0 8px 8px;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        font-family: $font-family_2;
        font-size: 1rem;
        color: $color_3;
        font-weight: 500;
    }

    .feather {
        position: absolute;
        stroke-width: 2;
        stroke: #0D1426;
        left: 4px;
        top: 14px;
        height: 24px;
        width: 24px;
        text-align: center;
        cursor: pointer;
    }
}

.search-input.activeSearch {
    input {
        border-radius: 8px 8px 0 0;
    }

    .autocom-box {
        padding: .6rem .5rem;
        background-color: $background-color_5;
        opacity: 1;
        pointer-events: none;
        position: absolute;
        width: 100% !important;

        li {
            display: block;
        }
    }
}

.autocom-box {
    li {
        list-style: none;
        padding: .4rem .8rem;
        display: none;
        cursor: pointer;
        min-width: 201px !important;

        &:hover {
            cursor: pointer;
            border-radius: 0;
        }

        >span {
            font-family: $font-family_2;
            font-size: 14px;
            color: $color_1;
            font-weight: 400;
        }
    }
}

.wrap_name {
    display: flex;
    flex-direction: column;
    margin: 0 0.8rem;

    >.name {
        font-family: $font-family_2;
        font-size: 18px;
        color: $color_3;
        font-weight: 500;
    }

    >.position {
        font-family: $font-family_1;
        font-size: 14px;
        color: $color_3;
        font-weight: 400;
    }
}

.nav_accout {
    // outline: 1px solid red;
    border-radius: 8px;
    transition: background-color 200ms linear;
    padding: .5em 1em;

    &:hover {
        background-color: #FFFFFF;
    }

    >.account_image {
        width: 40px;
        height: 40px;
        max-width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .feather-chevron-down {
        stroke-width: 1;
    }

    .feather-chevron-down.rotateChevron {
        transform: rotate(180deg);
    }
}

.feather {
    cursor: pointer;
}

.wrap_aside {
    z-index: 1;
    position: absolute;
    border-right: 1px solid rgba(14, 33, 105, 0.08);
    height: 120vh;
    background-color: $background-color_1;
    width: 80px;
    overflow: hidden;
    transition-delay: 300ms;
    transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 300ms;
        width: 300px;
    }

    >ul {
        padding: 1.5rem;
        margin-top: 3rem;

        >li {

            list-style: none;
            text-decoration: none;
            margin: 2rem 0;
            display: block;
            padding: .25rem;
            background-color: transparent;
            transition: all .2s ease-in-out;


            &:hover {
                background-color: white;
                cursor: pointer;
                border-radius: 6px;
                transition: all .2ms ease-in-out;

            }

            >.logo_links {
                text-decoration: none;
                font-family: $font-family_1;
                font-size: 18px;
                font-weight: 400;
                color: $color_4;
                display: flex;
                align-items: center;
                position: relative;
                width: 200px;
                min-height: 2rem;
            }



            >a {
                display: table;

                >.feather {
                    margin-right: 1.7rem;
                    position: relative;
                }

                >.feather-chevron-up {
                    position: absolute;
                    right: -35px;
                }

                >.feather-file-text.strokeWidth {
                    stroke-width: 2;
                }

                >.feather-chevron-up.active {
                    transform: rotate(180deg);
                }
            }

            >.payroll {
                position: relative;
            }
        }
    }

    ul {
        ul {
            list-style: none;
            display: none;

            li {

                .logo_links {
                    text-decoration: none;
                    font-family: $font-family_1;
                    font-size: 16px;
                    white-space: nowrap;
                    color: $color_4;
                    position: static;
                    display: table;
                    padding-left: 46px;
                    padding-top: 20px;
                }
            }
        }

        .show_links.show {
            display: block;
            padding-left: .2em;
        }
    }
}

.container {
    h1 {
        margin-bottom: 3rem;
    }

    width: 76%;
    padding: 2rem;
}

.container_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 3.5rem;
    grid-row-gap: 2rem;
    padding: 1em;
}

.div {
    max-width: 100%;
    min-height: 140px;
    border: 1px solid #4258A614;
    background-color: $background-color_2;
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    border-radius: 4px;

    >.for_icon {
        border-radius: 50%;
        background-color: $background-color_7;
        margin-right: .7em;
        // padding: 1em;
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    >.wrap_text {
        display: flex;
        flex-direction: column;
        width: 70%;

        >h5 {
            font-size: clamp(1rem, 3vw, 1.25rem);
            font-family: $font-family_1;
            font-weight: 500;
            color: $color_1;
            white-space: nowrap;
        }

        >span {
            font-family: $font-family_2;
            font-size: clamp(.5rem, 2vw, 1rem);
            font-weight: 500;
            letter-spacing: 0.1px;
            color: $color_1;
            opacity: 56%;
            word-break: break-word;
        }
    }

    >.run {
        height: 72%;
        min-width: 12%;
        border-radius: 4px;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: .3em;

        &:hover {
            .feather.feather-chevron-right {
                transition: transform 300ms, opacity 200ms;
                opacity: 1;
                transform: translateX(8px);
            }

            a {
                transition: all 200ms;
                color: #052599;
                transform: translateX(-5px);
            }

        }

        >a {
            font-size: clamp(.8rem, 3vw, 1rem);
            font-weight: 500;
            font-family: $font-family_1;
            color: $color_1;
            transition: all 200ms ease-in;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: none;
            padding: .625rem 1rem;
            transform: translateX(5px);

            .feather.feather-chevron-right {
                transition: transform 300ms, opacity 200ms;
                stroke-width: 2.5;
                opacity: 0;
                // margin-left: .3em;
                transform: translateX(-8px);
            }

            // &:hover {
            //     transition: all 200ms;
            //     color: #052599;
            //     transform: translateX(-5px);

            // }
        }

        &:hover {
            background-color: $background-color_8;
            cursor: pointer;
        }
    }
}

.div.one {
    grid-area: 1 / 1 / 3 / 3;

}

.div.two {
    grid-area: 1 / 3 / 3 / 5;

}

.div.three {
    grid-area: 3 / 1 / 5 / 3;
}

.user_dropdown {
    position: absolute;
    top: 56px;
    width: 224px;
    background-color: $background-color_5;
    border-radius: 8px;
    box-shadow: 0px 4px 32px 0px #0D142629;
    display: none;

    .profile {

        span {
            font-family: $font-family_2;
            font-size: 16px;
            font-weight: 500;
            color: $color_1;
        }

        .feather {
            margin-right: 10px;
        }

        display: flex;
        padding: 1em;
        text-align: center;
        border-radius: 8px;
        background-color: transparent;
        transition: background-color .3ms;

        &:hover {
            border-radius: 0px;
            transition: background-color .2s;
            background-color: $background-color_6;
            cursor: pointer;
        }
    }
}

.user_dropdown.showUserDropdown {
    display: block;
}

.hours_earnings {
    // width: 70%;

    >.hour_earnings_top {
        margin-bottom: 5em;
        display: flex;
        flex-direction: column;

        >h1 {
            margin-bottom: 1em;
        }

        >.bar {
            width: 100%;
            background-color: $background-color_9;
            height: 2px;
            display: flex;
            margin-bottom: 2em;

            >.bar_.first {
                width: 345px;
                background-color: $background-color_10;
            }
        }

        >.hour_earnings_cards {
            display: flex;
        }

        >.earnings_wrapper {
            display: flex;
            text-align: center;
            align-items: center;
            margin-bottom: 2em;

            >.wrap_steps {
                font-size: 16px;
                font-weight: 500;
                font-family: $font-family_1;
                color: $color_6;
                display: flex;
                margin-right: 1em;

                >.num {
                    width: 27px;
                    height: 27px;
                    border-radius: 50%;
                    background-color: $background-color_8;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: .5em;
                }
            }

            >.wrap_steps.step_two {
                opacity: 50%;
            }

            >.wrap_steps.step_three {
                opacity: 50%;
            }

            >.dot {
                margin: 0 1.2em;
                opacity: 50%;
                margin-right: 2em;
            }
        }
    }
}

h1 {
    font-family: $font-family_2;
    font-size: 32px;
    font-weight: 500;
    color: $color_7;
    letter-spacing: 0.4px;
}

.hour_earnings_top {
    >.hour_earnings_cards {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >.hour_card {
            padding: .8em 1.5em;
            background-color: $background-color_5;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            text-align: center;

            >.wrap_card_text {
                text-align: left;
                margin-left: 1rem;

                >span {
                    font-size: 14px;
                    font-weight: 600;
                    font-family: $font-family_1;
                    color: $color_8;
                    margin-bottom: .5rem;
                    text-transform: uppercase;
                    white-space: nowrap;
                }

                >h5 {
                    font-family: $font-family_2;
                    font-size: 20px;
                    font-weight: 500;
                    color: $color_1;
                    white-space: nowrap;
                }
            }
        }

        >.hour_settings {
            font-size: 14px;
            font-weight: 600;
            font-family: $font-family_1;
            color: $color_6;
            text-align: center;
            display: flex;
            cursor: pointer;
            border-radius: 8px;
            padding: 1em;
            transition: background-color .2s linear;
            white-space: nowrap;

            &:hover {
                background-color: #FFFFFF;

            }

            >.feather.feather-settings {
                padding-right: .6em;
                width: 24;
                height: 24;
                stroke: #0E2169;
                stroke-width: 2;
            }
        }
    }
}

.section_title {
    margin-bottom: 3em;

    >.wrap_section_title {
        display: flex;
        justify-content: space-between;

        >.wrap_search_filter {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;

            >.feather.feather-search {
                position: absolute;
                left: 10px;
                stroke: #0D1426;
                width: 16;
                height: 16;
                stroke-width: 1.5;
            }

            >.search_bar {
                all: unset;
                background-color: $background-color_5;
                max-width: 224px;
                min-height: 48px;
                border-radius: 8px;
                padding: 0px 0px 0px 40px;

                &::placeholder {
                    font-size: 14px;
                    font-weight: 600;
                    font-family: $font-family_1;
                    color: $color_1;
                    padding-left: 0.5em;
                }
            }

            >.filter_wrapp {
                display: flex;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                font-family: $font-family_1;
                color: $color_1;
                background-color: $background-color_5;
                border-radius: 8px;
                padding: .8em .9em;
                margin-left: 2em;
                cursor: pointer;

                >.feather.feather-filter {
                    padding-right: .3em;
                }
            }
        }
    }
}

input[type="search"] {
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 1.5em;
        width: 1.5em;
        padding-right: 1em;
        background: url("data:image/svg+xml,%3C!-- https://feathericons.dev/%3Fsearch=x&iconset=feather --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' class='main-grid-item-icon' fill='none' stroke='rgba(13, 20, 38, 1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cline x1='18' x2='6' y1='6' y2='18' /%3E%3Cline x1='6' x2='18' y1='6' y2='18' /%3E%3C/svg%3E ") no-repeat 50% 50%;
        background-size: contain;
        opacity: 0;
        cursor: pointer;
        pointer-events: none;
    }

    &:focus {
        &::-webkit-search-cancel-button {
            opacity: 1;
            pointer-events: all;
        }
    }
}

input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.main_section {
    >.wrap_main_sec {
        display: flex;
        justify-content: space-between;

        >.wrap_left_side {
            display: flex;

            >.wrap_check_box {
                >span {
                    font-size: 13px;
                    letter-spacing: 1px;
                    font-weight: 600;
                    font-family: $font-family_1;
                    color: $color_1;
                    opacity: 56%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &::before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        border-radius: 2px;
                        margin-right: 2em;
                        border: 2px solid #0D1426;
                    }
                }

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-right: 8em;
            }

            >.wrap_position {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                cursor: pointer;

                >span {
                    font-size: 13px;
                    letter-spacing: 1px;
                    font-weight: 600;
                    font-family: $font-family_1;
                    color: $color_1;
                    opacity: 56%;
                    text-transform: uppercase;
                    margin-right: .2em;
                }
            }
        }

        >.wrap_right_side {
            display: flex;
            justify-content: space-evenly;
            display: flex;
            justify-content: center;
            align-items: center;

            >span {
                font-size: 13px;
                letter-spacing: 1px;
                font-weight: 600;
                font-family: $font-family_1;
                color: $color_1;
                opacity: 56%;
                text-transform: uppercase;
                text-align: center;
                margin-left: 6em;
                cursor: pointer;
            }
        }
    }

    padding: 1em 1em;
}

.editable_sections {
    >.wrap_editable_sections {
        background-color: $background-color_5;
        border: 1px solid #0E216914;
        border-radius: 10px;

        >.wrap_both_sides {
            >.wrap_right_side_input {
                >.chevron_down_button {
                    >.feather.feather-chevron-down {
                        stroke: #0E2169;
                        stroke-width: 2;
                    }

                    >.feather.feather-chevron-down.activateChevron {
                        stroke: #FFFFFF;
                        transform: rotate(180deg);
                    }
                }
            }
        }

        >.editable_sections_dropdown {
            padding: 1em 1em;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            border-top: 1px solid rgba(14, 33, 105, 0.08);
            padding-right: 2.5em;
            padding-top: 2em;
            padding-bottom: 2em;
            display: none;
            position: relative;

            >.plus_button.addRate {
                position: absolute;
                left: 18%;
            }

            >.plus_button {
                >.feather.feather-plus-circle {
                    margin-right: .5em;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding-left: 3.5em;
                cursor: pointer;
            }

            >.plus_button.balanc {
                font-size: 14px;
                color: $color_1;
                opacity: 72%;
            }
        }

        >.editable_sections_dropdown.showSection {
            display: flex;
        }
    }
}

.wrap_editable_sections {
    margin-bottom: 1em;

    >.wrap_both_sides {
        margin-top: .5em;
        display: flex;
        justify-content: space-between;
        padding: 1em 1em;

        >.wrap_number_input {
            display: flex;
            justify-content: space-between;
            justify-content: center;
            align-items: center;
            text-align: center;

            >.wrap_check_box {
                cursor: pointer;
                margin-right: 3.8em;

                >label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $font-family_2;
                    font-size: 18px;
                    font-weight: 500;
                    color: $color_1;
                    cursor: pointer;

                    &::before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        border-radius: 2px;
                        margin-right: 1.5em;
                        border: 2px solid #0D1426;
                    }
                }

                >input[type='checkbox'] {
                    &:checked+label {
                        &::before {
                            content: url("data:image/svg+xml,%3C!-- https://feathericons.dev/%3Fsearch=check&iconset=feather --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='12' height='12' class='main-grid-item-icon' fill='none' stroke='rgba(13, 20, 38, 1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.50'%3E%3Cpolyline points='20 6 9 17 4 12' /%3E%3C/svg%3E%0A");
                            background-color: $background-color_2;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $color_1;
                        }
                    }
                }
            }

            >.wrap_input_field {
                >span {
                    font-size: 13px;
                    font-weight: 600;
                    font-family: $font-family_1;
                    color: $color_1;
                    position: relative;


                    &::after {
                        content: '$';
                        position: absolute;
                        right: -18px;
                        top: -3px;
                        color: $color_1;
                        font-size: 16px;
                        font-weight: 500;
                        font-family: $font-family_1;
                    }
                }

                >input[type="number"] {
                    padding: .7em 1em;
                    color: $color_1;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: $font-family_1;
                    border: 1px solid rgba(14, 33, 105, 0.08);
                    border-radius: 6px;
                    max-width: 80px;

                    &::placeholder {
                        color: $color_1;
                        font-size: 16px;
                        font-weight: 500;
                        font-family: $font-family_1;
                    }
                }
            }
        }

        >.wrap_input_field {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        >.wrap_right_side_input {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 41px;
            padding: 10px;
            position: relative;

            .for_number_input {
                position: absolute;
                left: 20px;
                pointer-events: none;
            }

            .for_number_input.two {
                position: absolute;
                left: 180px;
            }

            .for_number_input.three {
                position: absolute;
                right: -43px;
                top: 22px;
                font-family: $font-family_2;
                font-weight: 500;
                font-size: 18px;
                color: #0D1426;
            }

            >.chevron_down_button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .4em;
                background-color: $background-color_11;
                border-radius: 6px;
            }

            >.chevron_down_button.chevronSwitch {
                background-color: $background-color_10;
            }

            >input[type="number"] {
                max-width: 120px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(14, 33, 105, 0.08);
                border-radius: 6px;
                padding: .7em 0.5em;

                &::placeholder {
                    color: $color_1;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: $font-family_1;
                }
            }
        }
    }
}

input[type="number"] {
    background-color: $background-color_5;
    outline: none;
    border: none;
    font-family: $font-family_1 ;
    font-size: 1rem;
    font-weight: 500;
    // color: #0D1426;
    appearance: textfield;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
    }

    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 80px;
    width: 100%;
    height: 96px;
    background-color: $background-color_5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;

    >.save_btn {
        >span {
            color: $color_9;
            background-color: $background-color_12;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: $font-family_1;
            font-weight: 600;
            font-size: 14px;
            border-radius: 8px;
            padding: 1em 3em;
            cursor: not-allowed;

        }

        margin-right: 2em;
    }

    >.wrap_back_btn {
        transition: background-color .2s linear;
        border-radius: 8px;
        // outline: 1px solid green;
        cursor: pointer;

        >a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font-family_1;
            font-weight: 600;
            color: $color_1;
            font-size: 14px;
            cursor: pointer;
            text-decoration: none;
            padding: 1em 2em;
            // outline: 1px solid red;

            >.feather.feather-arrow-left {
                margin-right: .5em;
                stroke: #000000;
                width: 14;
                height: 14;
            }
        }

        &:hover {
            background-color: #f6f6f6;
        }
    }
}