// colors
$color_1: #0D1426;
$color_2: #FCFCFC;
$color_3: #0d1426;
$color_4: #0b1e63;
$color_5: #052599;
$color_6: #0E2169;
$color_7: #0B1E63;
$color_8: #0D1426B8;
$color_9: rgba(14, 33, 105, 0.24);
// font family
$font-family_1: "Mukta", sans-serif;
$font-family_2: "Alegreya", serif;
$font-family_3: 'SF Mono';
// background-colors
$background-color_1: #f5f6f6;
$background-color_2: #FAFAFA;
$background-color_3: #244DE1;
$background-color_4: transparent;
$background-color_5: #FFFFFF;
$background-color_6: #f6f6f6;
$background-color_7: #244DE10A;
$background-color_8: #0E21690A;
$background-color_9: #0E216914;
$background-color_10: #0E2169;
$background-color_11: rgba(14, 33, 105, 0.04);
$background-color_12: #0E216905;